<div class="demo-block">
  <div class="demo-block__title">
    元素注入器 (Element Injector) DEMO
  </div>
  app-aaa-element:
  <app-aaa-element></app-aaa-element>
</div>

<div class="demo-block">
  <div class="demo-block__title">
    元素注入器 (Element Injector) DEMO
  </div>
  app-bbb-element:
  <app-bbb-element></app-bbb-element>
</div>


<div class="demo-block">
  <div class="demo-block__title">
    Injection Token Injector
  </div>
  app-ccc-element:
  <app-ccc-element></app-ccc-element>
</div>

<div class="demo-block">
  <div class="demo-block__title">
    模組注入器 (Module Injector) DEMO
  </div>
  app-ddd-element:
  <app-ddd-element></app-ddd-element>
</div>
