/* You can add global styles to this file, and also import other style files */

.demo-block {
  border: 1px solid #CCC;
  padding: 18px;
  border-radius: 24px;
  background: linear-gradient(90deg, #c4dfeb 0%, #e8dce4 60%);
}

.demo-block+.demo-block {
  margin-top: 12px;
}
